/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/


body{
    background-color: #b2bec3;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}

h1{
    color: #d63031;
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0;

}

.vizitka{
    background-color: white;
    width: 550px;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    position: relative;
}

.foto{
    width: 150px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    right: -75px;
    top: -75px;

}

.facebook{
    background-color: #3b5998;
   
}

.twitter{
    background-color:#1da1f2;
  
}

.tlacitko{
    color: white;
    font-weight: bold;
    text-align:center;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}

.twitter:hover{
    background: #0b7bc1;
}

.facebook:hover{
    background:#2b406e;
}




